svg {
  background-color: #fff;
  display: block;
}

.bar {
  cursor: pointer;
}
.bar:hover {
  fill: darkblue;
}

.axis path,
.axis line {
  stroke: #333;
}

.axis text {
  fill: #aaa;
  font-size: 12px;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px 12px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

#chart-wrapper {
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  background-color: transparent;
}

.expand-btn,
#expand-btn {
  background-color: #333;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 4px 10px;
  margin-bottom: 10px;

  display: inline-block;
  width: auto !important;
  flex: 0 0 auto;
  align-self: center;

  border-radius: 4px;
  color: #fff;
  transition: background 0.2s, transform 0.1s;
}

.graph-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 1rem 0;
  overflow: visible;
}

.graph-wrapper {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  height: auto;  
}

.graph-box {
  width: 100%;
  min-height: 300px;
  height: auto; 
}
